/*--------------------------------*/
/*Estilos para la ventana de Login*/
/*--------------------------------*/

#frame {
	padding: 20px;
}

/*Sobre escribimos panel-default de Bootstrap*/
.panel-default {
	margin-top: 30px;
}

#frame-encabezado {
    padding: 5px 15px;
    background-color: #4B82C3;
}

#frame-pie {
	height: 40px;
	padding: 1px 15px;
	background-color: #4B82C3;
}

/*Formateamos el párrafo dentro de #frame-pie*/
#frame-pie > p {
	color: #ccc;
	text-transform: capitalize;
	font-size: 8px;
	text-align: center;
	margin: 5px 0px;
}

#img-user {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#title-box {
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4B82C3;
}
/*--------------------------------*/